importFrom("grDevices",
              "getGraphicsEvent",
              "setGraphicsEventHandlers")

importFrom("graphics",
              "lines",
              "plot",
              "points")

importFrom("stats",
              "filter",
              "mad",
              "supsmu")

importFrom("utils",
              "packageVersion")


exportClasses("MassPeaks",
              "MassSpectrum")

export("binPeaks",
       "calibrate",
       "createMassPeaks",
       "createMassSpectrum",
       "determineWarpingFunctions",
       "filterPeaks",
       "findEmptyMassObjects",
       "intensityMatrix",
       "isMassObject",
       "isMassObjectList",
       "isMassPeaks",
       "isMassPeaksList",
       "isMassSpectrum",
       "isMassSpectrumList",
       "mergeMassPeaks",
       "mergeMassSpectra",
       "movingAverage",
       "referencePeaks",
       "removeEmptyMassObjects",
       "savitzkyGolay",
       "warpMassPeaks",
       "warpMassSpectra")

exportMethods("as.matrix",
              "detectPeaks",
              "estimateBaseline",
              "estimateNoise",
              "intensity",
              "intensity<-",
              "iplot",
              "isEmpty",
              "isRegular",
              "labelPeaks",
              "length",
              "lines",
              "ltrim",
              "mass",
              "mass<-",
              "metaData",
              "metaData<-",
              "plot",
              "points",
              "removeBaseline",
              "rtrim",
              "snr",
              "standardizeTotalIonCurrent",
              "totalIonCurrent",
              "totalIonCurrent<-",
              "transformIntensity",
              "trim")

useDynLib("MALDIquant")
