importFrom("graphics", 
                "lines",
                "plot",
                "points")

exportClasses("MassPeaks",
              "MassSpectrum")

export("binPeaks",
       "calibrate",
       "createMassPeaks",
       "createMassSpectrum",
       "determineWarpingFunctions",
       "filterPeaks",
       "findEmptyMassObjects",
       "intensityMatrix",
       "isMassObject",
       "isMassObjectList",
       "isMassPeaks",
       "isMassPeaksList",
       "isMassSpectrum",
       "isMassSpectrumList",
       "mergeMassPeaks",
       "mergeMassSpectra",
       "referencePeaks",
       "removeEmptyMassObjects",
       "warpMassPeaks",
       "warpMassSpectra")

exportMethods("as.matrix",
              "detectPeaks",
              "estimateBaseline",
              "estimateNoise",
              "intensity",
              "intensity<-",
              "isEmpty",
              "labelPeaks",
              "length",
              "lines",
              "ltrim",
              "mass",
              "mass<-",
              "metaData",
              "metaData<-",
              "plot",
              "points",
              "removeBaseline",
              "rtrim",
              "standardizeTotalIonCurrent",
              "totalIonCurrent",
              "totalIonCurrent<-",
              "transformIntensity",
              "trim")

useDynLib("MALDIquant")
